.title-card-prod{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.container-cardProd{
    border: 1px solid black;
}

.info-cardProd{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-cardProd button{
    margin: 0;
}